<DOCTYPE html>
<html lang="en">
<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="/css/aboutstyle.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Lemon&family=Monoton&family=Montserrat:ital,wght@0,200;0,400;0,500;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/founditems.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/9973cec642.js" crossorigin="anonymous"></script>
<body>
    <%- include('navbar') %>
    <!-- navbar starts -->
    
    <div class="container2">
        <div class="heading">
            <h1>About us</h1>
        </div>
        <div class="wrapper">
            <div class="contentinfo">
                <h2>We all are humans and we love to help each other, the sense of satisfaction it gives us is just immense and I just don’t want you to be missing out that feeling ! So join in by
                </h2>
                <a href="" class="btn">Join Us</a>
            </div>
            <div class="image">
                <img src="/images/aboutus.jpg" alt="">
            </div>
        </div>

    </div>
    <section class="service section-5">
        <div class="container mx-auto py-5">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="img">
                <img src="/images/mission.png" alt="image" class="img-fluid" />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="text">
                <h2 class="title mb-3">
                  OUR MISSION
                  <hr />
                </h2>
                <p class="mb-5">
                  Our mission is to make the students community more trustworthy and faithful and this place a safe space for all of your precious belongings. <br />
                  We all know the students have to bring many sorts of precious belongings to college for many reasons and there are many chances of loosing it which might give the students some permanent scars because who knows what insane amount of value a little thing might hold in a person’s life but don’t worry that’s where our page and your fellow collegemates come forward to help you ! We don’t want you to be stressed if you’ve lost something on the college and hostel grounds we just want you to fill the form under the <b><a href="forms/lostForm.html">LOST</a></b> section so that we can get you out of this stress ASAP. <br />
                  Even this page is created and managed by some of the students, so your fellow collegemates have already started helping you in a way.
                </p>
                <div class="shrink d-inline-block">
                  <a class="learn-more" href="about_us.html">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
    <div class="containerphoto">
        <div class="headername">
            <h1>Our Team</h1>
        </div>
        <div class="sb-container">
        <div class="teams">
            <img src="/images/836.jpg"  alt="">
            <div class="name">Daivik</div>
            <div class="desig">Student</div>
            
            <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
        <div class="teams">
            <img src="/images/836.jpg"  alt="">
            <div class="name">Adithya</div>
            <div class="desig">Student</div>
           
            <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
        <div class="teams">
            <img src="/images/836.jpg"  alt="">
            <div class="name">Nithin</div>
            <div class="desig">Student</div>
           
            <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
        <div class="teams">
            <img src="/images/836.jpg"  alt="">
            <div class="name">Vihas</div>
            <div class="desig">Student</div>
            
            <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
    </div>
    <%- include('footer') %>
   
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
